<div class="add-edit-product">
    <form class="productForm">
        <div class="input-group d-flex flex-wrap">
            <div class="input mt-1 w-50 pe-3">
                <label for="productId">Product Id:</label>
                <input type="number" id="productId" name="productId">
            </div>
            <div class="input mt-1 w-50">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName">
            </div>
        </div>
        <div class="input-group d-flex flex-wrap">
            <div class="input mt-1 w-50 pe-3">
                <label for="image">Image:</label>
                <!-- <input type="file" id="image" name="image" accept="image/*"> -->
                <input type="text" id="image" name="image">
            </div>
            <div class="input mt-1 w-50">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price">
            </div class="input">
        </div>
        <div class="input mt-1">
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <a type="submit" class="form-button mt-2" href="#home"></a>
    </form>
</div>